<div class="content">

  <img [src]="imageToShow">

    <mat-toolbar class="toolbar">
      <span>ITSS User Registration</span>
      <span class="spacer"></span>
      <input #q type="text" class="margin-right-10" placeholder="Search" (input)="search(q.value)">
      <button mat-button class="menu-button clickable" (click)="openCreateUserDialog()"><i class="bi bi-person-plus-fill"></i> Register new user</button>
    </mat-toolbar>

  <div class="wrapPanel" >

    <mat-card class="user-card" *ngFor="let user of visible_users">
      <mat-card-header class="card-header clickable" (click)="user.isCollapsed=!user.isCollapsed">
        <img *ngIf="!user.imageUrl" mat-card-avatar src="../assets/img/person-square.svg">
        <img *ngIf="user.imageUrl"mat-card-avatar src={{user.imageUrl}}>
        <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
        <mat-card-subtitle>{{user.role}}</mat-card-subtitle>
      </mat-card-header>
      <div *ngIf="!user.isCollapsed" class="card-content">
        <img *ngIf="!user.imageUrl" mat-card-image class="user-image" src="../assets/img/person-square.svg">
        <img *ngIf="user.imageUrl" mat-card-image class="user-image" src="../assets/img/person-square.svg">
        <mat-card-content>
            <i class="bi bi-person-fill"></i> {{user.firstName}} {{user.lastName}}<br>
            <i class="bi bi-geo-alt-fill"></i> {{user.address}}<br>
        </mat-card-content>
        <button mat-button class="margin-left-5 clickable" (click)="openEditUserDialog(user)"><i class="bi bi-pencil-fill"></i> Edit</button>
        <button mat-button class="margin-left-5 clickable" (click)="deleteUser(user)"><i class="bi bi-trash-fill"></i> Delete</button>
      </div>
    </mat-card>

  </div>
</div>