  .content {
    padding: 2%;
  }

  .toolbar {
    background-color: #c2185b;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .wrapPanel {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-card {
    text-align: justify;
    border: black 1px groove;
    vertical-align: top;
    width: 20%;
    margin-top: 2%;
    margin-right: 2%;
    display: inline-block;
  }
  
  .user-image {
    width: 100%;
    margin: 5%;
  }

  .card-content {
    margin-top: 10%;
    margin-right: 10%;
  }

  .card-header:hover {
    transform:scale(1.01,1.01);
    -webkit-transform:scale(1.01,1.01);
    -moz-transform:scale(1.01,1.01);
  }

  .margin-left-5 {
    margin-left: 5px;
  }

  .margin-right-10 {
    margin-right: 10px;
  }