  .content {
    padding: 2%;
  }

  .toolbar {
    background-color: #c2185b;
    width: auto;
    height: auto;
  }

  .toolbar-element {
    margin: 1%;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .wrapPanel {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mat-card {
    text-align: justify;
    border: black 1px groove;
    vertical-align: top;
    width: 20%;
    margin-top: 2%;
    margin-right: 2%;
    display: inline-block;
  }
  
  .mat-card-header {
    margin: 5%;
  }

  .mat-card-content {
    padding: 5%;
  }

  .margin-left-5 {
    margin-left: 5%;
  }

  .margin-right-10 {
    margin-right: 10%;
  }