.user-image {
    float: left
}

.user-image img {
    display: block;
    width: 400px;
}

.user-content {
    margin-left: 430px
}

mat-form-field {
    width: 100%;
  }

.errorbanner {
  width: 100%;
  color: orangered;
}
